<div
  class="card-details row justify-content-between align-items-start"
  [id]="movie.id"
>
  <div class="col-lg-4">
    <div class="mb-3 mb-lg-0 mx-2 h-100">
      <div class="img_poster">
        <img
          [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
          class="w-100 h-100 d-block poster rounded-5"
        />
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div
      class="details-header d-flex justify-content-between align-items-start mx-4"
    >
      <div class="header">
        <div class="heading d-flex justify-content-between align-items-center">
          <h2 class="original_title">
            {{ movie.original_title.slice(0, 20) }}
          </h2>
          <div class="icon">
            <fa-icon
              class="heart-icon gold"
              (click)="checkAdded()"
              [icon]="faHeart"
            ></fa-icon>
          </div>
        </div>
        <p class="release_date text-muted">
          {{ movie.release_date | date }}
        </p>
        <div class="rating d-flex align-items-center">
          <div class="stars gap-1 d-flex align-items-center">
            <div
              class="star-icon"
              *ngFor="let item of fakeArr((movie.vote_average * 5) / 10)"
            >
              <fa-icon [icon]="faStar"></fa-icon>
            </div>
          </div>
          <p class="m-0">{{ movie.vote_count }}</p>
        </div>
        <p class="overview">
          {{ movie.overview.slice(0, 150) }}
        </p>
      </div>
    </div>
  </div>
</div>
