<div class="col-sm-12 col-md-6">
  <div class="card-details d-flex justify-content-between align-items-start p-4 m-3 rounded-4">
    <div class="col-sm-12 col-md-4">
      <div class="mx-2 h-100">
        <img src="https://www.themoviedb.org/t/p/w1280/yZVByCjWvKdSWcYLacoFmnOoSpm.jpg" class="w-100 d-block rounded-5 ">
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="details-header d-flex justify-content-between align-items-start mx-4">
        <div class="header">
          <h2 class="original_title">Movie Name</h2>
          <p class="release_date text-muted">Dec 12, 2018</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <div class="favorite">
            <i class="fa-solid fa-heart text-warning"></i>
            <i class="fa-regular fa-heart text-warning"></i>
            <p>2889</p>
          </div>
          <p class="overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis voluptatibus deserunt at explicabo...</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-6">
  <div class="card-details d-flex justify-content-between align-items-start p-4 m-3 rounded-4">
    <div class="col-sm-12 col-md-4">
      <div class="mx-2 h-100">
        <img src="https://www.themoviedb.org/t/p/w1280/yZVByCjWvKdSWcYLacoFmnOoSpm.jpg" class="w-100 d-block rounded-5 ">
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="details-header d-flex justify-content-between align-items-start mx-4">
        <div class="header">
          <h2 class="original_title">Movie Name</h2>
          <p class="release_date text-muted">Dec 12, 2018</p>
          <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <div class="favorite">
            <i class="fa-solid fa-heart text-warning"></i>
            <i class="fa-regular fa-heart text-warning"></i>
            <p>2889</p>
          </div>
          <p class="overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis voluptatibus deserunt at explicabo...</p>
        </div>
      </div>
    </div>
  </div>
</div>
