<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a routerLink="" class="navbar-brand">Movie App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end align-items-center"
      id="navbarSupportedContent"
    >
      <select name="lang" id="">
        <option value="en">en</option>
        <option value="ar">ar</option>
      </select>
      <a
        routerLink="/watch-list"
        routerLinkActive="router-link-active"
        class="wishlist-icon position-relative d-flex align-items-center text-decoration-none"
      >
        <fa-icon class="icon" [icon]="solidHeart"></fa-icon>
        <span class="txt">watchList</span>
        <span class="counter position-absolute" *ngIf="counter > 0">{{
          counter
        }}</span>
      </a>
    </div>
  </div>
</nav>
