
.watchlist .main-content {
  padding: 2.19rem 0;
  height: 80vh;
}
.watchlist h2 {
  font-size: 2rem;
  font-weight: 600;
}
.watchlist .no_watchlist {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.no_watchlist .heart {
  font-size: 6rem;
  color: #d1d1d1;
}

.no_watchlist p {
  font-size: 1.1rem;
  font-weight: 400;
}

.no_watchlist .btn {
  background: var(--main-color);
  transition: 0.5s;
  padding: 0.68rem 4rem;
  margin-top: 1.3rem;
}

.no_watchlist .btn:hover {
  background: #f7d52d;
}
